GOOGLESHEETID=your_sheet_id_here
GOOGLECLIENTEMAIL=your_service_account@project.iam.gserviceaccount.com
GOOGLEPRIVATEKEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
GEMINI_API_KEY=your_new_key_here
TELEGRAM_BOT_TOKEN=your_bot_token_here
